extends layout
block content
    h1= title
    hr
    ul
        each genre in genre_list
            li
                -const genreName = genre.name.toUpperCase();
                a(href=genre.url) #{genreName}